<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Tukiportaali</title>
    <link rel="stylesheet" href="/inc/style.css" />
  </head>
  <body>
    <nav>
      <a href="/customers">Asiakkaat ja käyttäjät</a> |
      <a href="/tickets">Tukipyynnöt</a> |
      <a href="/feedback">Palaute</a>
    </nav>
    <hr />

    <%- body %>
    <!-- Tämä on paikka, johon sivuidesi sisältö tulee -->
  </body>
</html>
