<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Tuki- ja palauteportaali</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Tuki- ja palauteportaali</h1>

    <nav>
      <a href="/customers">Asiakkaat ja käyttäjät</a> |
      <a href="/tickets">Tukipyynnöt</a> |
      <a href="/feedback">Palaute</a>
    </nav>

    <hr />

    <%- body %>
  </body>
</html>
