<%- include("partials/header") %>

<!-- Huom: ei 'public' tai 'styles' etuliitettä, vain tiedoston nimi -->
<link rel="stylesheet" href="/styles.css" />

<div class="container">
  <h2>Valitse sukupolvi</h2>

  <ul class="gen-list">
    <li><a href="/sukupolvi/1">Gen 1 (Kanto)</a></li>
    <li><a href="/sukupolvi/2">Gen 2 (Johto)</a></li>
    <li><a href="/sukupolvi/3">Gen 3 (Hoenn)</a></li>
    <li><a href="/sukupolvi/4">Gen 4 (Sinnoh)</a></li>
    <li><a href="/sukupolvi/5">Gen 5 (Unova)</a></li>
    <li><a href="/sukupolvi/6">Gen 6 (Kalos)</a></li>
    <li><a href="/sukupolvi/7">Gen 7 (Alola)</a></li>
    <li><a href="/sukupolvi/8">Gen 8 (Galar)</a></li>
    <li><a href="/sukupolvi/9">Gen 9 (Paldea)</a></li>
  </ul>
</div>

<%- include("partials/footer") %>
